#header-container {
    border: 5px dotted blue;
    padding: 10px;
    
    height: 200px;
}

#row-header {
    height: 100%;
}

#col-logo {
    border: 5px solid purple;
    margin: 0;
}
#col-titulo {
    border: 5px solid green;
    margin: 0;
}

#main-container {
    border: 5px dotted blue;
    padding: 10px;
    
    height: 600px;
}
#row-main {
    height: 100%;
}
#col-nav {
    border: 5px solid chocolate;
    margin: 0;
}
#col-content {
    border: 5px solid crimson;
    margin: 0;
}